body {
    background-color: #EBDED4;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
}

#about, #calendar {
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

h1, h2 {
    color: #333;
}
